.chabo{
	color:black;
	text-align: center;
	font-size: 90px;
}

body{
	background-image: url("the way out.jpg");
	background-size: cover;
}

.oc{
	margin-right: auto;
	margin-left: auto; 
	width: 650px;
}
.op{
	color:black; 
	font-size: 20px;
}

.og{
	position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 18px;
}

img {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

